---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.1.1/charts/other/app-template/values.schema.json

# Configure options applied to all pods
defaultPodOptions:
  automountServiceAccountToken: false

controllers:
  # Configure the main controller
  main:
    # Configure the pod-specific securityContext
    pod: {}

    containers:
      # Configure the main application container
      main:
        image:
          # -- image repository
          repository: lscr.io/linuxserver/qbittorrent
          # -- image tag
          # this example is not automatically updated, so be sure to use the latest image
          tag: 5.1.4
        # Configure the container-specific securityContext
        env:
          PUID: 1000
          PGID: 1000
          TZ: Europe/Berlin
          WEBUI_PORT: 8080
          TORRENTING_PORT: 47777
      # gluetun:
      #   dependsOn: main
      #   image:
      #     # -- image repository
      #     repository: ghcr.io/qdm12/gluetun
      #     # -- image tag
      #     # this example is not automatically updated, so be sure to use the latest image
      #     tag: latest
      #   # -- environment variables.
      #   # See [image docs](https://github.com/qdm12/gluetun-wiki) for more details on how to configure
      #   # your VPN and how to set up port-forwarding.
      #   envFrom:
      #     - secretRef:
      #         name: gluetun-env
      #   # Configure the container-specific securityContext
      #   securityContext:
      #     capabilities:
      #       add:
      #         - NET_ADMIN

    # Configure the gluetun sidecar
    initContainers:
      # 01-curlpodtest:
      #  image:
      #    repository: curlimages/curl
      #    tag: latest
      #  command: ['/bin/sh', '-c']
      #  args:
      #    - |
      #      EXPECTED_IP="141.144.196.15"
      #      while [ "$(curl -s4 checkip.amazonaws.com)" != "$EXPECTED_IP" ]; do
      #        sleep 1 && echo "IP is different from $EXPECTED_IP. Current IP is $IP."
      #      done
      #      echo "IP is $EXPECTED_IP. Exiting..."
      #      exit 1

      gluetun:
        restartPolicy: Always
        image:
          # -- image repository
          repository: ghcr.io/qdm12/gluetun
          # -- image tag
          # this example is not automatically updated, so be sure to use the latest image
          tag: v3.40.4
        # -- environment variables.
        # See [image docs](https://github.com/qdm12/gluetun-wiki) for more details on how to configure
        # your VPN and how to set up port-forwardingi.
        env:
          FIREWALL_OUTBOUND_SUBNETS: 10.96.0.0/12,10.244.0.0/16
          DOT: off
        envFrom:
          - secretRef:
              name: gluetun-env
        
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              exec:
                command:
                  - "/gluetun-entrypoint"
                  - "healthcheck"
              initialDelaySeconds: 10
              periodSeconds: 5
              timeoutSeconds: 5
              failureThreshold: 3
          readiness: *probes
        lifecycle:
          postStart:
            exec:
              command: ["/bin/sh", "-c", "(ip rule del table 51820; ip -6 rule del table 51820) || true"]
        resources:
          limits:
            squat.ai/tun: "1"

        # Configure the container-specific securityContext
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
          allowPrivilegeEscalation: false
        
service:
  # Configure a service for the main application
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 8080

ingress:
  # Configure an Ingress for the main application
  main:
    className: "cilium"
    annotations:
      cert-manager.io/cluster-issuer: cf-issuer
    hosts:
      - host: "qbit.magi.furst.blue"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - qbit.magi.furst.blue
        secretName: qbit-tls

persistence:
  # Configure the main configuration storage location
  config:
    enabled: true
    type: persistentVolumeClaim
    suffix: config
    storageClass: freenas-nfs-csi
    accessMode: ReadWriteOnce
    size: 1Gi
    advancedMounts:
      main:
        main:
          - path: /config
  media:
    type: nfs
    server: nas.furst.blue
    path: /mnt/pool1/media
    advancedMounts:
      main:
        main:
          - path: /media

