apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

helmCharts:
- name: argo-cd
  repo: https://argoproj.github.io/argo-helm
  version: 9.1.0
  apiVersions:
  - monitoring.coreos.com/v1
  valuesFile: values.yaml
  includeCRDs: true
  releaseName: argocd
  namespace: argocd
