apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prowlarr

helmCharts:
- name: app-template
  releaseName: prowlarr-instance
  repo: https://bjw-s-labs.github.io/helm-charts
  version: 4.5.0
  valuesFile: values.yaml
  namespace: prowlarr
