apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: victoria-metrics

helmCharts:
- name: victoria-metrics-k8s-stack
  repo: https://victoriametrics.github.io/helm-charts/
  version: "0.63.5"
  releaseName: vm-stack
  namespace: victoria-metrics
  valuesFile: values.yaml
