apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: victoria-metrics-operator

helmCharts:
- name: victoria-metrics-operator
  repo: https://victoriametrics.github.io/helm-charts/
  version: "0.56.3"
  releaseName: victoria-metrics-operator
  namespace: victoria-metrics-operator
  valuesFile: values.yaml
