apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: node-feature-discovery

helmCharts:
- name: node-feature-discovery
  releaseName: nfd
  repo: https://kubernetes-sigs.github.io/node-feature-discovery/charts
  version: 0.18.3
  includeCRDs: true
  valuesFile: values.yaml
