apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mail

resources:
  - mail-list-secret.yaml

helmCharts:
- name: docker-mailserver
  repo:  https://docker-mailserver.github.io/docker-mailserver-helm
  version: 5.1.1 
  releaseName: dms-instance
  valuesFile: values.yaml
  namespace: mail
