apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: reloader

helmCharts:
- name: reloader
  repo: "https://stakater.github.io/stakater-charts"
  version: "2.2.4"
  releaseName: reloader-instance
  namespace: reloader
  valuesFile: values.yaml
